<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>

    <ul class="project-list">
        <% projects.forEach(project => { %>
            <li class="project-item">
                <strong><%= project.project_title %></strong>: <%= project.project_des %><br>
                <span>
                    <strong><%= project.project_loc %></strong> - <%= project.project_date %>
                </span>
            </li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>